.btn-submit {
    color: $text-white;
    background-color: $text-orange;
    position: static;
    left: 18.12%;
    right: 37.68%;
    top: 28.85%;
    bottom: 28.85%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.btn-outline {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 150px;
    height: 44px;
    left: 25px;
    top: 243px;
    border: 1px solid $text-orange;
    box-sizing: border-box;
    border-radius: 37px;
}

.btn-subcribe {
    background: $text-orange;
    box-sizing: border-box;
    color: $text-white;
}

.btn-md {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 36px;
    color: $text-white;
    background: $text-orange;
    border-radius: 5px;
}
  
.btn-md-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 38px;
    color: $text-white;
    position: static;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid $text-orange;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
}

.btn-warning {
    color: $text-white;
    background-color: #E74040;
    width: 55px;
    height: 34px;
    font-size: 14px;
    border-color: #E74040;
}

@media (min-width: 1500px) {
    .btn-md {
        padding: 14px 30px;
    }
}