hr.divider {
    height: 2px;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: $text-orange;
    opacity: 1;
}

.divider-technology{
    height: 4px;
    max-width: 5rem;
    margin-left: 1px;
    background-color: $text-orange;
    opacity: 1;
}