.img-background {
    margin-right: 210px;
}

.page-section {
    padding: 8rem 0;
    background-color: $dark-background-color;
}

.bg-rectangle {
    background-image: url(../images/bg-header.png);
    max-width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 1px;
}

.image1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

@media (min-width: 480px) {
    .center {
        margin-left: 10px;
        height: 80%;
    }
}

@media (min-width: 750px) {
    .center {
        margin-left: 10px;
        height: 80%;
    }
}