blockquote, q {
    quotes: none;
}
    
blockquote {
    &:before, &:after {
      content: '';
      content: none;
    }
}
    
q {
    &:before, &:after {
      content: '';
      content: none;
    }
}
    
ol, ul {
    list-style: none;
}
    
.py-3 {
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
}
    
table {
    border-collapse: collapse;
    border-spacing: 0;
}
    
.justify-content-center {
    margin-top: 30px;
}

.title-rectangle {
    margin-top: 90px;
}
    
.align-items-center {
    margin-top: 40px;
}
    
.input-group {
    width: 55%;
}
    
.container {
    max-width: 1350px;
}
    
.main-background {
    background-color: $dark-background-color;
}
    
@media (min-width: 480px) {
    .col-12 {
        margin-top: 10px;
    }
}
    
@media (min-width: 992px){
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 100%;
        max-width: 30%;
    }
}