.text-mute {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #adb5bd;
}
  
.text-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #0061FF;
}

.text-paragraph-left {
    text-align: left;
    margin-left: 0%;
    margin-top: 30px;
    height: 60px;
    width: 376px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $text-white;
    margin-bottom: 30px;
}

.text-feature {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $text-dark;
    width: 136px;
    height: 60px;
    margin-left: 74px;
}

.feature-title {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}


.learn-more {
    margin-top: 35px;
    color: $text-orange;
    font-size: 14px;
    line-height: 24px;
}

.text-content {
    margin-top: 25px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $text-dark;
    width: 159px;
    margin-left: 171px;
}

@media (min-width: 480px) {
    .text-content {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 750px) {
    .text-center {
        margin-left: auto;
        margin-right: auto;
    }

    .text-width {
        width: 351px;
        margin-top: 40px;
    }

    .learn-more {
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .text-content {
        margin-left: auto;
        margin-right: auto;
    }

    .learn-more {
        margin-left: 80px;
    }
}

@media (max-width: 430px) {
    .title-header, .headline, .sub-headline, .head-button {
        margin-left: 0px;
    }

    .headline {
        width: 110px;
        font-size: 25px;
    }

    .sub-headline {
        font-size: 13px;
        width: 170px;
    }
}