a {
    color: $text-white;
    font-family: Montserrat;
}
  
h1, h2, h4, h5, p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: $text-white;
}

h6 {
    font-family: Montserrat;
    margin-left: 10px;
}
