h1 {
    font-size: 67px;
}
  
h2 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
}
  
h4 {
    font-size: 20px;
    line-height: 30px;
}
  
h5 {
    font-size: 16px;
    line-height: 24px;
}
  
h6 {
    position: static;
    left: 289px;
    top: 0px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: $text-orange;
  
    &.job {
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.2px;
      color: $text-dark;
    }
}
  
p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
}

li {
    margin-bottom: 10px;
}

@media (min-width: 480px) {
    h1 {
        font-weight: bold;
        font-size: 35px;
        line-height: 35px;
      }
    
      h2 {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;
      }
}

@media (min-width: 992px){
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 70px;
        color: $text-white;
      }
}

@media (min-width: 750px) {
    h1 {
        font-weight: bold;
        font-size: 45px;
        line-height: 60px;
    }
    
    h2 {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-weight: bold;
        font-size: 35px;
        line-height: 35px;
      }
    
      h2 {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;
      }
}