.header {
    height: 100px;
}

.title-header, .headline, .sub-headline{
    margin-left: 50px;
}

.headline {
    position: static;
    width: 580px;
    height: auto;
    left: 0px;
    top: 54px;
    margin-top: 10px;
}

.head-button{
    margin-left: 30px;
}
  
.sub-headline {
    position: static;
    width: 340px;
    height: auto;
    left: 0px;
    top: 244px;
    margin-top: 10px;
}

@media (min-width: 480px) {
    .headline {
      width: 200px;
    }
}

@media (min-width: 750px) {
    .headline{
      width: 342px;
    }
}

@media (min-width: 992px){
    .headline {
        width: 500px;
    }
}

@media (max-width: 480px) {
    .headline {
      width: 150px;
    }
}